
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;

}

ul > li{
    margin-right: 10px;
    list-style-type: none;
}

ul > list:last-child{
    margin-right: 0px;
}