<div class="container">

  <header>
    <h1>
      hola mundo
    </h1>

    <ul>
      <li><a href="#">Inicio</a></li>
    </ul>
  </header>

  <section>
    <p>
      Nulla dolore voluptate nulla incididunt tempor ut. Laborum Lorem magna officia aliquip occaecat. Ea ullamco cillum
      ullamco velit. Minim duis adipisicing sint aliquip exercitation culpa id sunt do qui aliqua veniam. Aliqua esse et
      nisi consectetur officia pariatur duis veniam ad Lorem fugiat.
    </p>
  </section>

</div>