/* You can add global styles to this file, and also import other style files */

body{
    background-color: #fff;
    color: gray;
}

h1{
    color: red;
    font-size: 20px;
}

p{
    font-weight: 700;
}